.errorMessage {
    width: 50%;
    border: 1px red solid;
    background-color: #f5bebe;
    text-align: center;
    padding: 30px;
    margin: 40px auto;
}

.formButtonsWrapper {
    display: flex;
    padding: 0 20%;
    justify-content: space-around;
}